!.vscode

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea
# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore the built binary


# Make artifacts
dist
logs
_out
*.log
www
__zgg.*

ksql
# model_test.go

ebpf_capture.o
ebpf_capture_blob.o
monitor

Untitled-*.json
agent-task.md